/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "distant galaxy symbols";
  src: local("SF_Distant_Galaxy_Symbols_Revised"),
    url(./assets/fonts/SF_Distant_Galaxy_Symbols_Revised.ttf) format("truetype");
}

@font-face {
  font-family: "star wars jedi";
  src: local("Starjedi"), url(./assets/fonts/Starjedi.ttf) format("truetype");
}

@font-face {
  font-family: "star wars jedi hollow";
  src: local("Starjhol"), url(./assets/fonts/Starjhol.ttf) format("truetype");
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image: url(./assets/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
