/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "distant galaxy symbols";
  src: local("SF_Distant_Galaxy_Symbols_Revised"),
    url(./assets/fonts/SF_Distant_Galaxy_Symbols_Revised.ttf) format("truetype");
}

@font-face {
  font-family: "star wars jedi";
  src: local("Starjedi"), url(./assets/fonts/Starjedi.ttf) format("truetype");
}

.dgs_font {
  font-family: "distant galaxy symbols";
  font-weight: 100;
  font-size: 2rem;
  display: inline;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-position: center;
}
